@font-face {
  font-family: 'pokemon_hollownormal';
  src: url('pokemonhollow-webfont.woff2') format('woff2'),
    url('pokemonhollow-webfont.woff') format('woff');
  font-dweight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pokemon_solidnormal';
  src: url('pokemonsolid-webfont.woff2') format('woff2'),
    url('pokemonsolid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: red;
  height: 35px;
  list-style-type: none;
  border: 1.5px solid;
  border-color: #8b0000;
  font-family: 'pokemon_hollownormal'
}

.wrapper > div{
  padding:1em;
  font-family: 'pokemon_hollownormal'
}

div:nth-child(1) {}



.btn-wrapper{
  display: grid
  grid template-columns: 1fr;
  background-color: #ffffff;
  border: 2px solid;
  color: #8b0000;
  padding: 5px;
  font-size: 20px;
  align-items: center;
  height: 35px;
}


.btn-pokedex:hover {
  background-color: #720000;
  font-family: pokemon_solidnormal;
}


.btn-trainer:hover {
  background-color: #720000;
  font-family: pokemon_solidnormal;
}

body {
  background-image: url("https://www.wallpaperflare.com/static/364/185/316/pok%C3%A9mon-pok%C3%A9-balls-artwork-pokeball-wallpaper.jpg");
background-position: fixed;
}

button {
  background-color: red;
  padding: 20px;
  width: 300px;
  border-color: red;
  align-items: center;
}

.btn-trainer {
  font-family: 'pokemon_solidnormal'
}

.btn-pokedex {
  font-family: 'pokemon_solidnormal'
}


p {
  font-family: 'pokemon_solidnormal';
  color: yellow;
  position: absolute;
  font-size: 2em;

}

a {
  color: black;
  text-decoration: none;
}
